
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;


}

body {
    font-family: Arial, 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #545454;
}

/*--------------Header----------------------------*/

.header {
    padding: 30px 0 30px 0; 
    position: sticky; 
    top: 0;
    background-color:#ffffff;
}

h1{
    font-family: Georgia, 'PT Serif', serif;
    color: #545454;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 0.059em;
    padding-bottom: 10px;
    font-weight: 400;
}

.header_logo p{
    color: #292929;
    font-size: 13px;
    line-height: 14.95px;
    letter-spacing: 0.1em;
    margin-left: 4px;
}

.header_logo{
       height: 60px;
}
.header_logo.hidden{
    visibility: hidden; 
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn{
    color: #545454;
    border-bottom: 3px solid transparent;
    transition: all .3sec;
}

.menu-box ul{
    display: flex;
    justify-content: center;
    column-gap: 35px;
    list-style-type: none;
   
}

#menu-toggle{
    display: none;
}
.btn:hover:not(:nth-child(2)){
    cursor: pointer;
    color:#292929;
}
.active{
    border-bottom: 3px solid #f1cdb3;
    color: #292929;
    cursor: default;
}
.menu-box ._header_logo{
    display: none;
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .header-inner{
        align-items: center;
    }
    .container{
        padding: 0 30px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){

    .header{
        min-height: auto;
    }

    .header-inner{
        align-items: center;
        padding-right: 40px; 
        
    }
    .container{
        padding-left: calc(10px + 0.1vw);
        padding-right: 10px;
        
    }

   
    .menu-box ._header_logo{
        display: block;
        position: absolute;
        top: 30px;
        left: 10px;
        z-index: 5;
    }
    ._header_logo p{
        color: #292929;;
        font-size: 13px;
        line-height: 14.95px;
        letter-spacing: 0.09em;
        margin-left: 4px;
    }

    .menu-wrapper{
        width: 100%;
        height: 100%;
        right: -100%;
        top: 0;
        position: relative;
        background-color:#292929;
        opacity: 60%;
        transition: all 1s;
        
    }

    .menu-btn{
        display: flex;
        align-items: center;
        width: 30px;
        height: 22px;
        cursor: pointer;
        position: relative;
        z-index: 5;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after{
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000;
        transition-duration: 0.5s;
        z-index: 10;
    }

    .menu-btn > span::before{
        content: '';
        top: -9px;
        z-index: 10;
    }

    .menu-btn > span::after{
        content: '';
        top: 9px;
    }

    .menu-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        height: 100vh;
        right: -100%;
        width: 320px;
        background-color: #fff;
        transition: all 1s;
        padding-top: 90px;
        overflow: auto;
    }
    .menu-box::before{
        content: '';
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 90px;
        background-color: #fff;
        z-index: 2;
    }

    .menu-box ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        list-style-type: none;
        transition-duration: 0.5s;
        position: relative;
        
    }

    #menu-toggle{
        opacity: 0;
    }

    .btn{
        font-size: 32px;
        line-height: 51.2px;
        color: #545454;
        transition-duration: 0.5s;
    }
   
    .menu-btn._active span{
        transform: rotate(90deg);
    }

    .menu-box._active{
        visibility: visible;
        position: absolute;
        right: 0;
        transition: all 1s;
    }

    .menu-wrapper._active{
        position: absolute;
        right: 0;
        height: 100vh;
        transition: all 1s;
    }
    
    ._lock{
        overflow: hidden;
    }

    /*
    #menu-toggle{
        display: none;
    }

    .header-inner{
        justify-content: space-between;
        padding-right: 43px;
        
    }
    .container{
        padding-left: calc(10px + 0.1vw);
        padding-right: 10px;
    }

    .menu-btn{
        display: flex;
        align-items: center;
        width: 30px;
        height: 22px;
        cursor: pointer;
        position: relative;
        z-index: 2;
    }

    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after{
        display: block;
        position: absolute;
        width: 30px;
        height: 2px;
        background-color: #000000;
        transition: all 0.5s;
    }

    .menu-btn > span::before{
        content: '';
        top: -9px;
    }

    .menu-btn > span::after{
        content: '';
        top: 9px;
    }

    .menu-box{
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        visibility: hidden;
        top: 0;
        height: 100vh;
        right: -100%;
        width: 320px;
        background-color: #292929;
        transition: all 2s ease-in-out;
    }

    .menu-box ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        list-style-type: none;
        transition: all 0.5s ease-in-out;
    }

    #menu-toggle{
        opacity: 0;
    }

    .btn{
        font-size: 32px;
        line-height: 51.2px;
        color: #cdcdcd;
        transition: all 0.5s ease-in-out;

    }

    #menu-toggle:checked ~ .menu-btn{
        width: 30px;
        height: 30px;
    }

    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(90deg);
        transition: all 0.5s;

    }

    #menu-toggle:checked ~ .menu-box{
        visibility: visible;
        position: absolute;
        right: 0;
        transition: all 2s ease-in-out;

        
    }*/


}
/*----------------Pets content---------------------------------*/

.pets{
   background-color: #F6F6F6;
   padding: 80px 0 100px 0;
}
.pets-content{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
}
.pets-content h2{
    font-family: Georgia,'PT Serif', serif;
    max-width: 400px;
    color: #545454;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-align: center;
    margin-bottom: 45px;
}

.cards-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 40px;
    margin-bottom: 45px;
    padding: 15px 0 15px 0;
}

.pet-card{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    transition: all 0.6s;
}


.pet-card:hover{
    cursor: pointer;
    box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);

}
.pet-card:hover a{
    background-color: #F1CDB3;

}

.pet-card p{
    margin: 30px auto;
    font-size: 20px;
    line-height: 22px;
    letter-spacing: 0.06em;
    text-align: center;
}

.pet-card a{
    font-family: Georgia,'PT Serif', serif;
    width: 187px;
    color: #292929;
    font-size: 17px;
    line-height: 49px;
    letter-spacing: 0.06em;
    text-decoration: none;
    text-align: center;
    border: 2px solid #F1CDB3;
    border-radius: 45px;
    transition: background-color .6s;
    margin-bottom: 30px;
}

.pet-card a:hover{
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;

}

.navigation{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 340px;
    column-gap: 20px;
    
}

.button{
    font-family: Georgia,'PT Serif', serif;
    border: 2px solid #F1CDB3;
    width: 52px;
    line-height: 48px;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: center;
    border-radius: 50%;
    transition: all .6s;
      
}

.disabled{
    border: 2px solid #CDCDCD;
    color: #CDCDCD;
}

.current{
    background-color: #F1CDB3;
}

.right:hover{
    cursor: pointer;
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

.right-end:hover{
    cursor: pointer;
    background-color: #FDDCC4;
    border: 2px solid #FDDCC4;
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .pets{
        padding: 60px 0 70px 0;
    }
     .pets-content h2{
        margin: 20px 0 30px;
    }
    .cards-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);;
        grid-auto-rows: 0;
        overflow-y: hidden;
        grid-gap: 30px 40px;
        margin-bottom: 0;
        padding: 0;
    }
    .navigation{
        margin: 10px 0 6px;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .pets-content h2{
        font-size: 25px;
        line-height: 32.5px;
        letter-spacing: 0.06em;
        text-align: center;
        margin-bottom: 42px;
    }
    .cards-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);;
        grid-auto-rows: 0;
        overflow: hidden;
        row-gap: 30px;
        margin-bottom: 0;
        padding: 0;
    }
    .pet-card:nth-child(n + 4){
        display: none;
    }
    .pets{
        padding: 42px 0;
    }
    .navigation{
        max-width: 300px;
        margin-top: 42px;
        column-gap: 10px;
    }
}

/*-------Foooter-----------------------------------------*/
.footer-content{
    background: url("../../../Shelter/assets/images/noise_transparent.png"), 
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
    padding-top: 40px;
    font-family: Georgia, 'PT Serif', serif;
}

.footer-inner{
    display: flex;
    justify-content: space-between;
}

.footer-contacts{
    margin-top: 16px;
}

.footer-contacts h2{
    width: 278px;
    color: #ffffff;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.059em;
    font-weight: 400;
    margin-bottom: 40px;
}

.mail a{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
    color: #F1CDB3;
    column-gap: 20px; 
}
.mail p{
    display: inline-block;
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-decoration: none; 
}
.phone a{
    display: flex;
    align-items: center;
    color: #F1CDB3;
    column-gap: 20px; 
}
.phone p{
    display: inline-block;
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-decoration: none; 
}

.footer-locations{
    margin-top: 16px;
}
.footer-locations h2{
    width: 270px;
    color: #ffffff;
    font-size: 35px;
    line-height: 45px;
    letter-spacing: 0.06em;
    font-weight: 400;
    margin-bottom: 34px;
}

.boston a{
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    color: #F1CDB3;
    column-gap: 20px; 
}
.boston p{
    display: inline-block;
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-decoration: none; 
}
.london a{
    display: flex;
    align-items: center;
    color: #F1CDB3;
    column-gap: 20px; 
}
.london p{
    display: inline-block;
    color: #F1CDB3;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.06em;
    font-weight: 400;
    text-decoration: none; 
}
.footer-image img{
    display: block;
}

@media only screen and (min-width: 768px) and (max-width: 1279px){
    .footer-content{
        padding-top: 30px;
    }
    .footer-contacts{
        margin-top: 0;
        width: 278px;
        justify-self: center;
        
    }
    .footer-locations{
        margin-top: 0;
    }
    
    .footer-inner{
        display: grid;
        grid-template-columns: 278px 302px;
        justify-content: center;
        column-gap: calc(1vw + 53px);
        row-gap: 65px;
        width: fit-content;
        margin: 0 auto;
    }
    .footer-image{
       display: block;
       grid-column-start: 1;
       grid-column-end: 3;
       justify-self: center;
    }
}
@media only screen and (min-width: 320px) and (max-width: 767px){
    .footer-content{
        padding-top: 30px;
    }
    .footer-inner{
        grid-template-columns: 300px;
        display: grid;
        grid-template-rows: auto;
        margin: 0 auto;
        justify-content: center;
    }
    .footer-contacts{
        margin-top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .footer-contacts h2{
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        letter-spacing: 0.059em;
        font-weight: 400;
        margin-bottom: 40px;
    }
    .phone {
        margin-bottom: 40px;
    }
    .footer-locations{
        width: 100%;
        margin-top: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        width:fit-content;
    }
    .footer-locations h2{
        font-size: 25px;
        line-height: 32.5px;
        text-align: center;
        letter-spacing: 0.059em;
        margin-bottom: 40px;
    }
    .boston a{
        width: 100%;
        margin: 0;
    }
    .boston a{
        width: 100%;
    }
    
    .london{
        
        width: 100%;
        margin: 40px 0;
    }
    .footer-image{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .footer-image img{
        width: 86.7%;
    }
}